extends ../layouts/main-layout.pug

block content 

    main
        .grid 
            ul  
                if products.length > 0
                    each product in products 
                        li #{product.productData.title} (#{product.qty}) 
                            form(action = "/cart/delete-item" method = "POST")
                                input(type = "hidden" value = product.productData.id name = "prodID")
                                button.btn(type = "submit") DELETE
                else 
                    h1 Cart is Empty